# GitHub Actions - CI for Go to build & test.  See ci-go-cover.yml and linters.yml for code coverage and linters.
# Taken from: https://github.com/fxamacker/cbor/workflows/ci.yml (thanks!)
name: ci
on: [push, pull_request]
jobs:

  # Test on Ubuntu latest with default Go version.
  tests:
    name: Test on ubuntu-latest
    runs-on: ubuntu-latest
    env:
      GO111MODULE: on
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Install Protoc
      uses: arduino/setup-protoc@v1
      with:
        version: '3.x'
        repo-token: ${{ secrets.GITHUB_TOKEN }}
    - name: Build project
      run: |
        go get google.golang.org/protobuf/cmd/protoc-gen-go@v1.26
        go get google.golang.org/grpc/cmd/protoc-gen-go-grpc@v1.1
        go get github.com/mitchellh/protoc-gen-go-json@latest
        go get github.com/golang/mock/mockgen@v1.5.0
        make 
    - name: Run tests
      run: |
        go version
        make -w CI_PIPELINE=true test
